$black: #000000;
$black2: #babbc500;
$white: #ffffff;
$beige: #babbc5;
$transparent: rgba(255, 255, 255, 0);
$ivory: #c6cbcd;
$grey: #808080;
$grey2: #656980;
$darkgrey: #6c7279;
$mouse: #2d3033;
$carrot: #ff4343;
$red: #e71414;
$darkred: #b90c0ccc;
$coral: #ff4343cc;
$blue: rgb(37, 43, 73);
$blue2: #2c3154;
$blue3: #353c65;
$purple: #5c3249;
$purple2: #7e5d6f;