$_12px: 0.75rem;
$_13px: 0.8125rem;
$_14px: 0.875rem;
$_15px: 0.9375rem;
$_16px: 1rem;
$_18px: 1.125rem;
$_21px: 1.3125rem;
$_24px: 1.5rem;
$_28px: 1.75rem;
$_30px: 1.875rem;
$_32px: 2rem;
$_35px: 2.1875rem;
$_36px: 2.25rem;
$_42px: 2.625rem;
$_48px: 3rem;
$_49px: 3.0625rem;
$_56px: 3.5rem;
$_64px: 4rem;
$_75px: 4.6875rem;