@mixin text-1 {
    font-size: 24px;
    line-height: 28px;
    text-align: center;
}
@mixin text-2 {
    font-size: 13px;
    line-height: 15px;
    text-align: center;
}
@mixin text-3 {
    font-size: 18px;
    line-height: 21px;
    text-align: center;
}
@mixin text-4 {
    font-size: 36px;
    line-height: 49px;
    text-align: center;
}
@mixin text-5 {
    font-size: 30px;
    line-height: 35px;
    text-align: center;
}
@mixin text-6 {
    font-size: 12px;
    line-height: 14px;
    text-align: center;
}
@mixin text-7 {
    font-size: 14px;
    line-height: 16px;
    text-align: center;
}
@mixin text-8 {
    font-size: 24px;
    line-height: 32px;
    text-align: center;
}
@mixin text-9 {
    font-size: 36px;
    line-height: 42px;
    text-align: center;
}
@mixin text-10 {
    font-size: 12px;
    line-height: 14px;
    text-align: center;
}