h1 {
    font-size: $_64px;
    line-height: $_75px;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
}
h2 {
    font-size: $_36px;
    line-height: $_42px;
    font-weight: bold;
    text-align: center;
}
h3 {
    font-size: $_30px;
    line-height: $_35px;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
}
h4 {
    font-size: $_24px;
    line-height: $_28px;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
}
h5 {
    font-size: $_18px;
    line-height: $_21px;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
}