@import 'variables/colors.scss';
@import 'variables/fontsizes.scss';
@import 'mixins/buttons.scss';
@import 'mixins/brands.scss';
@import 'mixins/fonts.scss';
@import 'mixins/titles.scss';
@import 'header.scss';
@import 'features.scss';
@import 'ourteam.scss';
@import 'testimonials.scss';
@import 'works.scss';
@import 'download.scss';
@import 'contact.scss';
@import 'footer.scss';
@import 'cdns/cdn.scss';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
.container {
    max-width: 1170px;
    margin: auto;
    padding: 0 15px;
}
body {
    font-family: 'Raleway', sans-serif;
}