.ourteam {
    padding: 114px 0;
}
.team-card-row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 -15px;
}
.team-card {
    margin: 0 15px;
    width: 262px;
    ul {
        display: flex;
        li {
            margin-right: 15px;

            &:hover {
                transform: scale(1.3);
            }
            .fa-brands {
                width: 39px;
                height: 39px;
                font-size: 20px;
                color: $ivory;
                border: 1px solid $ivory;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                transition: 0.2s;
            }
        }
    }
}
.team-card-img {
    margin-bottom: 30px;
    width: 100%;

    img {
        width: 100%;
    }
}
.team-card-name {
    @include text-1;
    text-align: left;
    font-weight: bold;
    margin-bottom: 5px;
}
.team-card-position {
    @include text-3;
    color: $carrot;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 18px;
}
.team-card-text {
    @include text-3;
    text-align: left;
    color: $darkgrey;
    margin-bottom: 38px;
}